
table {

  margin: 7% 39% ;
}

.endgame {
  display: none;
  width:  200px;
  top: 220px;
  background-color:darkcyan;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}

.selectSym{
  display: none;
  width: 220px;
  top: 220px;
  background-color:darkcyan;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: yellow;
  font-size: 2em; 
}

.selectSym button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  50px;
  width: 70px;
}

.selectSym  button:first-of-type {
  margin-right: 10px;
}
.selectSym  button:last-of-type {
  margin-left: 10px;
}


p
{
  font-size: x-large;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#b1
{
  height: 5%;
  width: 5%;
  margin-left: 47%;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
}


#b1:hover
{
  background-color: black;
  color: white;
}

body
{
  background-color: lightblue;
}

button
{
  font-size: xx-large;
}

h1
{
    text-align: center;
}

